@model SistemaPrestamos.Models.Prestamo

<div class="container mt-3">
    <h4>Registrar Devolución</h4>
    <form asp-action="RegistrarDevolucion" method="post">
        <div class="form-group">
            <label asp-for="Fecha_Dev_Real" class="control-label">Fecha Devolución</label>
            <input asp-for="Fecha_Dev_Real" class="form-control" type="datetime-local" />
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
